services:
	- MovieParser\IMDB\Parser
	- MovieParser\IMDB\UrlBuilder

	- MovieParser\IMDB\Matcher\ProcessAlternativeVersions
	- MovieParser\IMDB\Matcher\ProcessAwards
	- MovieParser\IMDB\Matcher\ProcessBusiness
	- MovieParser\IMDB\Matcher\ProcessCompanyCredits
	- MovieParser\IMDB\Matcher\ProcessConnections
	- MovieParser\IMDB\Matcher\ProcessCompanyCredits
	- MovieParser\IMDB\Matcher\ProcessCrazyCredits
	- MovieParser\IMDB\Matcher\ProcessFullCredits
	- MovieParser\IMDB\Matcher\ProcessGoofs
	- MovieParser\IMDB\Matcher\ProcessImage
	- MovieParser\IMDB\Matcher\ProcessKeywords
	- MovieParser\IMDB\Matcher\ProcessLocations
	- MovieParser\IMDB\Matcher\ProcessMedia
	- MovieParser\IMDB\Matcher\ProcessMovie
	- MovieParser\IMDB\Matcher\ProcessPlotSummary
	- MovieParser\IMDB\Matcher\ProcessQuotes
	- MovieParser\IMDB\Matcher\ProcessReleaseInfo
	- MovieParser\IMDB\Matcher\ProcessSynopsis
	- MovieParser\IMDB\Matcher\ProcessTagLines
	- MovieParser\IMDB\Matcher\ProcessTechnical
	- MovieParser\IMDB\Matcher\ProcessTrivia
	- MovieParser\IMDB\Matcher\ProcessVideo
	- MovieParser\IMDB\Matcher\ProcessVideoGallery

	- MovieParser\IMDB\Parser\LoadAlternativeVersions
	- MovieParser\IMDB\Parser\LoadAwards
	- MovieParser\IMDB\Parser\LoadBusiness
	- MovieParser\IMDB\Parser\LoadCompanyCredits
	- MovieParser\IMDB\Parser\LoadConnections
	- MovieParser\IMDB\Parser\LoadCrazyCredits
	- MovieParser\IMDB\Parser\LoadFullCredits
	- MovieParser\IMDB\Parser\LoadGoofs
	- MovieParser\IMDB\Parser\LoadKeywords
	- MovieParser\IMDB\Parser\LoadLocations
	- MovieParser\IMDB\Parser\LoadMedia
	- MovieParser\IMDB\Parser\LoadMovie
	- MovieParser\IMDB\Parser\LoadPlotSummary
	- MovieParser\IMDB\Parser\LoadQuotes
	- MovieParser\IMDB\Parser\LoadRatings
	- MovieParser\IMDB\Parser\LoadReleaseInfo
	- MovieParser\IMDB\Parser\LoadReviews
	- MovieParser\IMDB\Parser\LoadSoundtrack
	- MovieParser\IMDB\Parser\LoadSynopsis
	- MovieParser\IMDB\Parser\LoadTagLines
	- MovieParser\IMDB\Parser\LoadTechnical
	- MovieParser\IMDB\Parser\LoadTrivia
	- MovieParser\IMDB\Parser\LoadVideo
	- MovieParser\IMDB\Parser\LoadVideoGallery